.main {
    display: grid;
    grid-template-rows: 230px 1fr;
    overflow-y: auto;
    background-color: rgb(48, 48, 48);
    grid-row-gap: 5%;
}

.info_playlist {
    margin-top: 3%;
    margin-left: 5%;
}

.head_second_playlist{
    font-size: 36px;
    color: aliceblue;
    margin-left: 3%;
}

.head_second_playlist {
    font-size: 26px;
    color: aliceblue;
    margin-top: 1%;
    margin-left: 3%;
}

.playlists {
    display: flex;
    justify-content: start;
    margin-left: 3%;
}

.playlists ol{
    -webkit-column-count: 2;
}

.playlists a {
    display: block;
    color:rgb(255, 255, 255);
    font-size: 16px;
    text-decoration:none;
    font-family: Georgia, serif;
}

.my_playlist :hover {
    color:rgb(123, 214, 18);
}

.my_playlist {
    display: grid;
    grid-template-rows: min-content min-content;
    justify-items: center;
    padding-top: 2%;
}

.image_playlist {
	width: 150px;
	height: 150px;
} 