.main {
    display: grid;
    grid-template-rows: 150px min-content;
    overflow-y: auto;
    background-color: rgb(48, 48, 48);
    grid-row-gap: 50px;
}

.head_first_section {
    font-size: 30px;
    color: white;
    margin-left: 50px;
    margin-top: 30px;
}

.head_second_section {
    font-size: 18px;
    color: white;
    margin-left: 50px;
    margin-top: 30px; 
}

.tracks {
    display: grid;
    row-gap: 10px;
}

.list {
    display: flex;
    background-color: #000000;
    justify-content: space-between;
    height: 60px;
    margin-right: 50px;
    margin-left: 50px;
}

.top_first_header {
    font-size: 16px;
}

.top_second_header {
    font-size: 14px;
}