<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Spotify - Артисты</title>
        <link rel="stylesheet" href="./artist.css"/>
    </head>
    <body class="app">
        <header class="header">
            <a href="" class="header__logo link" href="/">
                <img src="./header_logo.jpg" alt="Spotify" width="150" height="70"/>
                <h1 class="header__title"> Spotify</h1>
            </a>
            <nav class="header__navigation link">
                <img src="./header_profile.jpg" alt="Имя пользователя" width="50" height="50"/>
                <div class="navigation_profile">
                    <ul>
                        <li><a href="">Анна</a>
                            <ul>
                                <li><a href="">Профиль</a></li>
                                <li><a href="">Выход</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>            
        </header>
        <aside class="aside">
            <a href="" class="tags_aside link" href="/">
                <ul>
                    <li class="tag"><img src="./aside_popular.png" width="30px" height="30px"/>Популярное</li>
                    <li class="tag"><img src="./aside_playlists.png" width="30px" height="30px"/>Мои плейлисты</li>
                    <li class="tag"><img src="./aside_compilation.png" width="30px" height="30px"/>Подборки</li>
                    <li class="tag"><img src="./aside_podcasts.png" width="30px" height="30px"/>Подкасты</li>
                    <li class="tag"><img src="./aside_recomend.png" width="30px" height="30px"/>Рекомендации</li>
                    <li class="tag"><img src="./aside_search.png" width="30px" height="30px"/>Поиск</li>
                </ul>
            </a>
        </aside>
        <main class="main">
            <div class="info_artist">
                <img class="image_artist" src="./artist1.jpg"/>
                <div class="executor">
                    <h1 class="executor_title">Исполнитель:</h1>
                    <h1 class="executor_name">Скриптонит</h1>
                </div>
            </div>
            <div class="tracks_artist">
                <div class="list">
                    <div class="track_info">
                        <p class="track_number text">1</p>
                        <button class="button_play"><img src="./play.png" width="30px" height="30px" alt="Кнопка «button»"></button>
                        <img class="track_image" src="./tracks1.jpg" width="40px" height="40px"/>
                        <div class="track_header">
                            <h1 class="track_first_header">Marmalade</h1>
                            <h2 class="track_second_header">Miyagi & Andy Panda, Mav-d</h2>
                        </div>
                    </div>
                    <h4 class="track_time">3:19</h4>
                </div>
                <div class="list">
                    <div class="track_info">
                        <p class="track_number text">2</p>
                        <button class="button_play"><img src="./play.png" width="30px" height="30px" alt="Кнопка «button»"></button>
                        <img class="track_image" src="./tracks2.jpg" width="40px" height="40px"/>
                        <div class="track_header">
                            <h1 class="track_first_header">Солнце Монако</h1>
                            <h2 class="track_second_header">Люся Чеботина</h2>
                        </div>
                    </div>
                    <h4 class="track_time">3:19</h4>
                </div>
                <div class="list">
                    <div class="track_info">
                        <p class="track_number text">3</p>
                        <button class="button_play"><img src="./play.png" width="30px" height="30px" alt="Кнопка «button»"></button>
                        <img class="track_image" src="./tracks3.jpg" width="40px" height="40px"/>
                        <div class="track_header">
                            <h1 class="track_first_header">Птичка</h1>
                            <h2 class="track_second_header">HammAli & Navai</h2>
                        </div>
                    </div>
                    <h4 class="track_time">3:19</h4>
                </div>
                <div class="list">
                    <div class="track_info">
                        <p class="track_number text">4</p>
                        <button class="button_play"><img src="./play.png" width="30px" height="30px" alt="Кнопка «button»"></button>
                        <img class="track_image" src="./tracks4.jpg" width="40px" height="40px"/>
                        <div class="track_header">
                            <h1 class="track_first_header">King Kong</h1>
                            <h2 class="track_second_header">Andy Panda</h2>
                        </div>
                    </div>
                    <h4 class="track_time">3:19</h4>
                </div>
                <div class="list">
                    <div class="track_info">
                        <p class="track_number text">5</p>
                        <button class="button_play"><img src="./play.png" width="30px" height="30px" alt="Кнопка «button»"></button>
                        <img class="track_image" src="./tracks5.jpg" width="40px" height="40px"/>
                        <div class="track_header">
                            <h1 class="track_first_header">Не жаль</h1>
                            <h2 class="track_second_header">104 (ft. Скриптонит, MiyaGi)</h2>
                        </div>
                    </div>
                    <h4 class="track_time">3:19</h4>
                </div>
                <div class="list">
                    <div class="track_info">
                        <p class="track_number text">6</p>
                        <button class="button_play"><img src="./play.png" width="30px" height="30px" alt="Кнопка «button»"></button>
                        <img class="track_image" src="./tracks5.jpg" width="40px" height="40px"/>
                        <div class="track_header">
                            <h1 class="track_first_header">Не жаль</h1>
                            <h2 class="track_second_header">104 (ft. Скриптонит, MiyaGi)</h2>
                        </div>
                    </div>
                    <h4 class="track_time">3:19</h4>
                </div>
                <div class="list">
                    <div class="track_info">
                        <p class="track_number text">7</p>
                        <button class="button_play"><img src="./play.png" width="30px" height="30px" alt="Кнопка «button»"></button>
                        <img class="track_image" src="./tracks5.jpg" width="40px" height="40px"/>
                        <div class="track_header">
                            <h1 class="track_first_header">Не жаль</h1>
                            <h2 class="track_second_header">104 (ft. Скриптонит, MiyaGi)</h2>
                        </div>
                    </div>
                    <h4 class="track_time">3:19</h4>
                </div>
                <div class="list">
                    <div class="track_info">
                        <p class="track_number text">8</p>
                        <button class="button_play"><img src="./play.png" width="30px" height="30px" alt="Кнопка «button»"></button>
                        <img class="track_image" src="./tracks5.jpg" width="40px" height="40px"/>
                        <div class="track_header">
                            <h1 class="track_first_header">Не жаль</h1>
                            <h2 class="track_second_header">104 (ft. Скриптонит, MiyaGi)</h2>
                        </div>
                    </div>
                    <h4 class="track_time">3:19</h4>
                </div>
                <div class="list">
                    <div class="track_info">
                        <p class="track_number text">9</p>
                        <button class="button_play"><img src="./play.png" width="30px" height="30px" alt="Кнопка «button»"></button>
                        <img class="track_image" src="./tracks5.jpg" width="40px" height="40px"/>
                        <div class="track_header">
                            <h1 class="track_first_header">Не жаль</h1>
                            <h2 class="track_second_header">104 (ft. Скриптонит, MiyaGi)</h2>
                        </div>
                    </div>
                    <h4 class="track_time">3:19</h4>
                </div>
                <div class="list">
                    <div class="track_info">
                        <p class="track_number text">10</p>
                        <button class="button_play"><img src="./play.png" width="30px" height="30px" alt="Кнопка «button»"></button>
                        <img class="track_image" src="./tracks5.jpg" width="40px" height="40px"/>
                        <div class="track_header">
                            <h1 class="track_first_header">Не жаль</h1>
                            <h2 class="track_second_header">104 (ft. Скриптонит, MiyaGi)</h2>
                        </div>
                    </div>
                    <h4 class="track_time">3:19</h4>
                </div>
                <div class="list">
                    <div class="track_info">
                        <p class="track_number text">11</p>
                        <button class="button_play"><img src="./play.png" width="30px" height="30px" alt="Кнопка «button»"></button>
                        <img class="track_image" src="./tracks5.jpg" width="40px" height="40px"/>
                        <div class="track_header">
                            <h1 class="track_first_header">Не жаль</h1>
                            <h2 class="track_second_header">104 (ft. Скриптонит, MiyaGi)</h2>
                        </div>
                    </div>
                    <h4 class="track_time">3:19</h4>
                </div>
                <div class="list">
                    <div class="track_info">
                        <p class="track_number text">12</p>
                        <button class="button_play"><img src="./play.png" width="30px" height="30px" alt="Кнопка «button»"></button>
                        <img class="track_image" src="./tracks5.jpg" width="40px" height="40px"/>
                        <div class="track_header">
                            <h1 class="track_first_header">Не жаль</h1>
                            <h2 class="track_second_header">104 (ft. Скриптонит, MiyaGi)</h2>
                        </div>
                    </div>
                    <h4 class="track_time">3:19</h4>
                </div>
                <div class="list">
                    <div class="track_info">
                        <p class="track_number text">13</p>
                        <button class="button_play"><img src="./play.png" width="30px" height="30px" alt="Кнопка «button»"></button>
                        <img class="track_image" src="./tracks5.jpg" width="40px" height="40px"/>
                        <div class="track_header">
                            <h1 class="track_first_header">Не жаль</h1>
                            <h2 class="track_second_header">104 (ft. Скриптонит, MiyaGi)</h2>
                        </div>
                    </div>
                    <h4 class="track_time">3:19</h4>
                </div>
                <div class="list">
                    <div class="track_info">
                        <p class="track_number text">14</p>
                        <button class="button_play"><img src="./play.png" width="30px" height="30px" alt="Кнопка «button»"></button>
                        <img class="track_image" src="./tracks5.jpg" width="40px" height="40px"/>
                        <div class="track_header">
                            <h1 class="track_first_header">Не жаль</h1>
                            <h2 class="track_second_header">104 (ft. Скриптонит, MiyaGi)</h2>
                        </div>
                    </div>
                    <h4 class="track_time">3:19</h4>
                </div>
                <div class="list">
                    <div class="track_info">
                        <p class="track_number text">15</p>
                        <button class="button_play"><img src="./play.png" width="30px" height="30px" alt="Кнопка «button»"></button>
                        <img class="track_image" src="./tracks5.jpg" width="40px" height="40px"/>
                        <div class="track_header">
                            <h1 class="track_first_header">Не жаль</h1>
                            <h2 class="track_second_header">104 (ft. Скриптонит, MiyaGi)</h2>
                        </div>
                    </div>
                    <h4 class="track_time">3:19</h4>
                </div>
            </div>
        </main>
    </body>
</html>