<!DOCTYPE html>
<html lang="en">
<head>
    <title>Лови волну - Spotify</title>
    <link rel="stylesheet" href="./main.css"/>
</head>
<body class="app">
    <header class="header"> 
        <a href="" class="header__logo link" href="/">
            <img src="./header_logo.jpg" alt="Spotify" width="200" height="90"/>
            <h1 class="header__title"> Spotify</h1>
        </a>
        <nav class="navigation">
            <ul>
                <li><a href="">Справка</a></li>
                <li><a href="">Профиль</a>
                    <ul>
                        <li><a href="">Аккаунт</a></li>
                        <li><a href="">Выход</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>
    <main class="section_by_popular">
        <div class="popular">
            <div>
                <h1 class="first_text">Не знаете, что послушать?</h1>
                <h2 class="second_text">Будьте на одной волне со всеми!</h2>
                <div>
                    <a class="button_popular" href="">Открыть популярное</a>
                </div>
            </div>
        </div>
    </main>
    <main class="section_by_playlist">
        <div class="playlists">
            <div>
                <h1 class="first_text_by_playlists">Моя волна</h1>
                <h2 class="second_text_by_playlists">Не изменяя себе</h2>
                <div>
                    <a class="button_playlists" href="">Мои плейлисты</a>
                </div>
            </div>
        </div>
    </main>
</body>
</html>