*{
    margin: 0;
    padding: 0;
}

.app {
    display: grid;
    height: 100vh;
    overflow: hidden;
    grid-template-rows: min-content 1fr 1fr;
    font-family: Georgia, serif;
}

.header {
    display: flex;
    align-items: center;
    padding: 4px 0px;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
}

.header__logo {
    display: flex;
    align-items: center;
    margin-left: 300px;
}

.header__title {
    font-size: 30px;
    font-family: Georgia, serif;
    padding-left: 25px;
    color: rgb(255, 255, 255);
}

.link {
    text-decoration: none;
}

.navigation {
    margin-right: 300px;
}

.navigation ul li {
    margin: 0px 5px 0 0;
    display:inline-block;
}

.navigation a {
    display:block;
    padding-right: 75px;
    color:rgb(255, 255, 255);
    font-size:20px;
    line-height: 60px;
    text-decoration:none;
}

.navigation a:hover {
    color:rgb(123, 214, 18);
}

.navigation ul ul {
    display: none;
    position: absolute;
    top: 100%;
}

.navigation ul li:hover > ul {
    display:inherit
}

.section_by_popular {
    background-color: #1d75de;
    display: flex;
    justify-content: start;
}

.popular {
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255); 
    margin-left: 300px;
}

.first_text {
    font-size: 45px;
    font-weight: bold;
}

.second_text {
    font-size: 25px;
    margin-top: 30px;
}

.button_popular {
    display: inline-block;
    background: #000000;
    text-align: center;
    color: #fff;
    margin-top: 30px;
    padding: 15px;
    border-radius: 25px;
    text-decoration: none;
    font-size: 18px;
    line-height: 1;
    font-weight: 100;
}

.button_popular:hover {
    background: #252525;
}
  
.section_by_playlist {
    background-color: rgb(41, 65, 171);
    display: flex;
    justify-content: start;
}

.playlists {
    display: flex;
    align-items: center;
    color: #1ed760;
    margin-left: 300px; 
}

.first_text_by_playlists {
    font-size: 45px;
    font-weight: bold;
}

.second_text_by_playlists {
    font-size: 25px;
    margin-top: 30px;
}

.button_playlists {
    display: inline-block;
    background: #1ed760;
    text-align: center;
    color: rgb(41, 65, 171);
    margin-top: 30px;
    padding: 15px;
    border-radius: 25px;
    text-decoration: none;
    font-size: 18px;
    line-height: 1;
    font-weight: 100;
}

.button_playlists:hover {
    background: rgb(50, 163, 89);
}

.circle {
    background: #1ed760;
    border-radius: 50%;
    height: 100px;
    width: 100px;
  }