<!DOCTYPE html>
<html lang="en">

<head>
    <title>Spotify - Плейлисты</title>
    <link rel="stylesheet" href="./my_playlist.css" />
</head>

<body class="app">
    <header class="header">
        <a href="" class="header__logo link" href="/">
            <img src="./header_logo.jpg" alt="Spotify" width="150" height="70" />
            <h1 class="header__title"> Spotify</h1>
        </a>
        <nav class="header__navigation link">
            <img src="./header_profile.jpg" alt="Имя пользователя" width="50" height="50" />
            <div class="navigation_profile">
                <ul>
                    <li><a href="">Анна</a>
                        <ul>
                            <li><a href="">Профиль</a></li>
                            <li><a href="">Выход</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <aside class="aside">
        <a href="" class="tags_aside link" href="/">
            <ul>
                <li class="tag"><img src="./aside_popular.png" width="30px" height="30px" />Популярное</li>
                <li class="tag"><img src="./aside_playlists.png" width="30px" height="30px" />Мои плейлисты</li>
                <li class="tag"><img src="./aside_compilation.png" width="30px" height="30px" />Подборки</li>
                <li class="tag"><img src="./aside_podcasts.png" width="30px" height="30px" />Подкасты</li>
                <li class="tag"><img src="./aside_recomend.png" width="30px" height="30px" />Рекомендации</li>
                <li class="tag"><img src="./aside_search.png" width="30px" height="30px" />Поиск</li>
            </ul>
        </a>
    </aside>
    <main class="main">
        <div class="info_playlist">
            <h1 class="head_second_playlist">Мои плейлисты</h1>
            <h2 class="head_second_playlist">Здесь собраны все ваши плейлисты</h2>
        </div>
        <div class="playlists">
            <ol>
                <li class="my_playlist">
                    <img class="image_playlist" src="./playlist1.png" />
                    <a href="">Мой плейлист 1</a>
                </li>
                <li class="my_playlist">
                    <img class="image_playlist" src="./playlist2.png" />
                    <a href="">Мой плейлист 2</a>
                </li>
            </ol>
        </div>
    </main>
</body>
</html>