*{
    margin: 0;
    padding: 0;
}

.app {
    display: grid;
    height: 100vh;
    overflow: hidden;
    grid-template-columns: 250px 1fr;
    grid-template-rows: min-content 1fr;
    font-family: Georgia, serif;
}

.header {
    display: flex;
    background-color: black;
    grid-column: 1 / 3;
    justify-content: space-between;
}

.header__logo {
    display: flex;
    align-items: center;
    margin-left: 100px;
}

.header__title {
    font-size: 30px;
    font-family: Georgia, serif;
    padding-left: 25px;
    color: rgb(255, 255, 255);
}

.link {
    text-decoration: none;
}

.header__navigation {
    display: flex;
    align-items: center;
    margin-right: 200px;
}

.navigation_profile {
    margin-right: 50px;
}

.navigation_profile ul li {
    margin: 0px 5px 0 0;
    display:inline-block;
}

.navigation_profile a {
    display:block;
    color:rgb(255, 255, 255);
    font-size:20px;
    line-height: 40px;
    text-decoration:none;
}

.navigation_profile a:hover {
    color:rgb(123, 214, 18);
}

.navigation_profile ul ul {
    display: none;
    position: absolute;
    top: 100%;
}

.navigation_profile ul li:hover > ul {
    display:inherit;
}

.aside {
    background-color: rgb(0, 0, 0);
}

.tags_aside ul{
    color: white;
    padding-left: 30px;
    padding-top: 30px;
}

.tag {
    font-family: Georgia, serif;
    font-size: 18px;
    padding-top: 10px;
    border-left: 5px;
    display:block;
}

.tag:hover {
    color:rgb(123, 214, 18);
}

.main {
    display: grid;
    grid-template-rows: 230px 1fr;
    overflow-y: scroll;
    background-color: rgb(48, 48, 48);
    grid-row-gap: 50px;
}

.info_playlist {
    margin-top: 30px;
    margin-left: 50px;
}

.head_second_playlist{
    font-size: 36px;
    color: aliceblue;
    margin-left: 20px;
}

.head_second_playlist {
    font-size: 26px;
    color: aliceblue;
    margin-left: 20px;
    margin-top: 10px;
}

.playlists {
    display: flex;
    justify-content: start;
    margin-left: 50px;
}

.playlists ol{
    -webkit-column-count: 2;
}

.playlists a {
    display: block;
    color:rgb(255, 255, 255);
    font-size: 16px;
    text-decoration:none;
    font-family: Georgia, serif;
}

.my_playlist :hover {
    color:rgb(123, 214, 18);
}

.my_playlist {
    display: grid;
    grid-template-rows: min-content min-content;
    justify-items: center;
    padding-top: 20px;
}

.image_playlist {
	width: 150px;
	height: 150px;
}