<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Spotify - Будь на одной волне со всеми</title>
        <link rel="stylesheet" href="./popular.css"/>
    </head>
    <body class="app">
        <header class="header">
            <a href="" class="header__logo link" href="/">
                <img src="./header_logo.jpg" alt="Spotify" width="150" height="70"/>
                <h1 class="header__title"> Spotify</h1>
            </a>
            <nav class="header__navigation link">
                <img src="./header_profile.jpg" alt="Имя пользователя" width="50" height="50"/>
                <div class="navigation_profile">
                    <ul>
                        <li><a href="">Анна</a>
                            <ul>
                                <li><a href="">Профиль</a></li>
                                <li><a href="">Выход</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>            
        </header>
        <aside class="aside">
            <a href="" class="tags_aside link" href="/">
                <ul>
                    <li class="tag"><img src="./aside_popular.png" width="30px" height="30px"/>Популярное</li>
                    <li class="tag"><img src="./aside_playlists.png" width="30px" height="30px"/>Мои плейлисты</li>
                    <li class="tag"><img src="./aside_compilation.png" width="30px" height="30px"/>Подборки</li>
                    <li class="tag"><img src="./aside_podcasts.png" width="30px" height="30px"/>Подкасты</li>
                    <li class="tag"><img src="./aside_recomend.png" width="30px" height="30px"/>Рекомендации</li>
                    <li class="tag"><img src="./aside_search.png" width="30px" height="30px"/>Поиск</li>
                </ul>
            </a>
        </aside>
        <main class="main">
            <div class="section">
                <div></div>
                <div class="center">
                    <h1 class="head_section">Топ-треки</h1>
                    <a class="block songs">
                        <div class="chapter first_three_top_songs">
                            <div class="track">
                                <img class="square2" src="./tracks1.jpg"/>
                                <div class="top_track_header">
                                    <h1 class="top_first_header">Marmalade</h1>
                                    <h2 class="top_second_header">Miyagi & Andy Panda, Mav-d</h2>
                                </div>
                                <button class="button_play_first"><img src="./play.png" width="30px" height="30px" alt="Кнопка «button»"></button>
                            </div>
                            <div class="track">
                                <img class="square1" src="./tracks1.jpg"/>
                                <div class="top_track_header">
                                    <h1 class="top_first_header">Marmalade</h1>
                                    <h2 class="top_second_header">Miyagi & Andy Panda, Mav-d</h2>
                                </div>
                                <button class="button_play_first"><img src="./play.png" width="30px" height="30px" alt="Кнопка «button»"></button>
                            </div>
                            <div class="track">
                                <img class="square3" src="./tracks1.jpg"/>
                                <div class="top_track_header">
                                    <h1 class="top_first_header">Marmalade</h1>
                                    <h2 class="top_second_header">Miyagi & Andy Panda, Mav-d</h2>
                                </div>
                                <button class="button_play_first"><img src="./play.png" width="30px" height="30px" alt="Кнопка «button»"></button>
                            </div>
                        </div>
                        <div class="other_top_songs">
                            <div class="four_song list">
                                <div class="track_info">
                                    <p class="track_number text">4</p>
                                    <button class="button_play"><img src="./play.png" width="30px" height="30px" alt="Кнопка «button»"></button>
                                    <img class="track_image" src="./tracks4.jpg" width="40px" height="40px"/>
                                    <div class="track_header">
                                        <h1 class="track_first_header">King Kong</h1>
                                        <h2 class="track_second_header">Andy Panda</h2>
                                    </div>
                                </div>
                                <h4 class="track_time">3:19</h4>
                            </div>
                            <div class="five_song list">
                                <div class="track_info">
                                    <p class="track_number text">5</p>
                                    <button class="button_play"><img src="./play.png" width="30px" height="30px" alt="Кнопка «button»"></button>
                                    <img class="track_image" src="./tracks5.jpg" width="40px" height="40px"/>
                                    <div class="track_header">
                                        <h1 class="track_first_header">Не жаль</h1>
                                        <h2 class="track_second_header">104 (ft. Скриптонит, MiyaGi)</h2>
                                    </div>
                                </div>
                                <h4 class="track_time text">3:45</h4>
                            </div>
                            <div class="six_song list">
                                <div class="track_info">
                                    <p class="track_number text">6</p>
                                    <button class="button_play"><img src="./play.png" width="30px" height="30px" alt="Кнопка «button»"></button>
                                    <img class="track_image" src="./tracks6.jpg" width="40px" height="40px"/>
                                    <div class="track_header">
                                        <h1 class="track_first_header">По буквам</h1>
                                        <h2 class="track_second_header">Мот</h2>
                                    </div>
                                </div>
                                <h4 class="track_time">4:26</h4>
                            </div>
                        </div>
                    </a>
                </div>
                <div></div>
            </div>
            <div class="section" >
                <div></div>
                <div class="center">
                    <h1 class="head_section">Топ-артисты</h1>
                    <a class="block artists">
                        <div class="first_three_top_artists chapter">
                            <div class="artists">
                                <img class="circle2" src="./tracks1.jpg"/>
                                <h2 class="top_artist_second_header">Miyagi</h2>
                            </div>
                            <div class="artists">
                                <img class="circle1" src="./tracks1.jpg"/>
                                <h2 class="top_artist_second_header">Miyagi</h2>
                            </div>
                            <div class="artists">
                                <img class="circle3" src="./tracks1.jpg"/>
                                <h2 class="top_artist_second_header">Miyagi</h2>
                            </div>
                        </div>
                        <div class="other_top_artists">
                            <div class="other_top_songs">
                                <div class="list four_song">  
                                </div>
                                <div class="list five_song"></div>
                                <div class="list six_song"></div>

                            </div>
                        </div>
                    </a>
                </div>
                <div></div>
            </div>
            <div class="section">
                <div></div>
                <div class="center">
                    <h1 class="head_section">Топ-альбомы</h1>
                    <a class="block albums">
                        <div class="chapter first_three_top_albums">
                            <div class="square2"></div>
                            <div class="square1"></div>
                            <div class="square3"></div>
                        </div>
                        <div class="other_top_albums">
                            <div class="other_top_songs">
                                <div class="list four_song"></div>
                                <div class="list five_song"></div>
                                <div class="list six_song"></div>
                            </div>
                        </div>
                    </a>
                </div>
                <div></div>
            </div>
        </main>
    </body>